body{
  margin: 0;
  max-width: 100%;
}

header{
  width: 100%;
  max-width: 100%;
  height: 70px;
  padding-bottom: 15px;
  z-index: 2;
  font-family: Stick;
  background-color: #4380D3;
  position: fixed;
  left: 0;
  top: 0;
}

.header_wrapper{
	flex-direction:row;
	display: flex;
	justify-content: center;
}

.header_logo{
  font-family:ZCOOL KuaiLe;
	font-style: normal;
	font-weight: Bold;
	cursor: pointer;
	color: #000000;
	font-size: 23px;
  margin-bottom: 10px;
}

.p_menu{
  font-style: Italic;
  font-weight: Bold;
  cursor: pointer;
  display: flex;
	justify-content: center;
  margin-top: 50px;
  font-size: 20px;
  padding-left: 50px;
}

.a_menu{
  padding-left: 40px;
  margin-left: 30px;
  text-decoration: none;
  color: #000000;
}

a{
	padding-left: 40px;
	padding-bottom: 40px;
	margin-left: 30px;
}

intro{
  background-color: #0F4FA8;
}

.intro_wrapper{
  display: flex;
	flex-direction: row;
  justify-content: center;
	padding-top: 150px;
  padding-bottom: 150px;
  background-color: #0F4FA8;
}

.intro_img{
  max-width: 430px;
  box-shadow: rgb(0 0 0 / 20%) 0 20px 27px 0;
}

.intro_right{
  margin-right: auto;
	width: 700px;
	justify-content: center;
}

.intro_left{
  margin-right: auto;
	margin-left: auto;
	justify-content: center;
}

.intro_title{
  font-family: Roboto;
	font-style: normal;
	font-weight: bold;
  font-size: 30px;
  color:white;
  margin-bottom: 20px;
}
.intro_line_hey{
  background: #fff;
  height: 4px;
  border-radius: 4px;
  width: 50px;
  left: 0;
  position: relative;
}

.intro_text{
  font-family: Roboto;
	font-size: 23px;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
  color:white;
}

.intro_button{
  background-color: #0e3c7c;
	width: 225px;
	height: 65px;
	cursor: pointer;
	color: white;
	font-style: normal;
	font-weight: Bold;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
  transition: 0.5s;
  letter-spacing: 0.15em;
  border: none;
  position: relative;
  left: 175px; 
  top: 25px;
  border-radius: 50px;
}

.intro_button:hover{
  background-color: #0a2853;
}

.yt-icon {
  position: relative;
  display: inline;
  color: red;
}

.videorol_title{
  font-family: Roboto;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}
/*.frame{
  justify-content: center;
  display: flex;
  max-width:840px;
  height:472.5px;

}*/

.youtube-iframe{
  border-style: outset;
  padding: 5px;
  border-width: 7px;
  border-color: #9200ff;
  justify-content: center;
  display: flex;
  width: 840px;
  height: 472.5px;
  margin-left: auto;
  margin-right: auto;
}
.youtube-frame{
  justify-content: center;
}
.description_title{
  font-family: Roboto;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
}
.description_text{
  font-family: Roboto;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-left: 300px;
}
/*.left_arrow{
  max-width: 80px;
}
.right_arrow{
  max-width: 80px;
  margin-left: 1000px;
}*/
.left_arrow_img{
  max-width: 80px;
  cursor: pointer;
  letter-spacing: 0.15em;
	transition: 800ms;

}
.right_arrow_img{
  max-width: 80px;
  cursor: pointer;
  letter-spacing: 0.15em;
	transition: 800ms;
  margin-right: inherit;
}
.left_arrow_img:hover{
    max-width: 85px;

  }
.right_arrow_img:hover{
    max-width: 85px;

}

.about_wrapper{
  display: flex;
	flex-direction: row;
  justify-content: center;
	padding-top: 150px;
  padding-bottom: 150px;
}
.about_img{
  max-width: 430px;
  box-shadow: rgb(0 0 0 / 20%) 0 20px 27px 0;
}
.about_left{
  margin-right: auto;
	margin-left: auto;
	justify-content: center;
	max-width: 1000px;
}
.about_right{
  margin-right: auto;
  margin-top: auto;
	justify-content: center;
}
.about_title{
  font-family: Roboto;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.botton_line_about{
  background: #000000;
  height: 4px;
  border-radius: 4px;
  width: 50px;
  left: 0;
  position: relative;
}
.about_text{
	font-family: Roboto;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: 35px;
  font-size: 22px;
}
.about_button{
  margin-left: 450px;
  background-color: #0F4FA8;
	width: 225px;
	height: 65px;
	cursor: pointer;
	color: white;
	padding: 20px 19px;
	font-style: normal;
	font-weight: Bold;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
  letter-spacing: 0.15em;
	transition: 0.5s;
  border: none;
  position: relative;
  float: left;
}
.about_button:hover{
	border-radius: 50px;
  background-color: #0a2853;
}

.Discord_wrapper{
	display: flex;
	flex-direction: row;
  background-color: #404eed;
  padding-top: 80px;
  padding-bottom: 80px;

}
.Discord_left{
  margin-right: auto;
	margin-left: auto;
	justify-content: center;

}
.Discord_img{
	width: 400px;
}
.Discord_right{
	margin-right: auto;
	width: 700px;
	justify-content: center;

}
.Discord_title{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
  font-size: 30px;
  color:white;
  margin-bottom: 20px;
}
.botton_line_discord{
  background: #fff;
  height: 4px;
  border-radius: 4px;
  width: 50px;
  left: 0;
  position: relative;

}
.Discord_text{
	font-family: Roboto;
	font-size: 23px;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
  color:white;
}
.discord_button{
  background-color: #333eb6;
	width: 225px;
	height: 65px;
	cursor: pointer;
	color: white;
	padding: 20px 19px;
	font-style: normal;
	font-weight: Bold;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
  letter-spacing: 0.15em;
  border: none;
	transition: 0.5s;
  float:left;
  box-shadow: rgb(0 0 0 / 20%) 0 10px 32px 0;
}
.discord_button:hover{
  border-radius: 50px;
  background-color: #0a2853;
}
.discord_button_img{
  background: url(img/discord_icn.png) center center/32px no-repeat;
  height: 26px;
  width: 46px;
  float: left;
}

advertisement{
  background-color: #D3D3D3;
  justify-content: center;
  display: flex;
}
.advertisement_wrapper{
  color: #A9A9A9;
  font-size: 50px;
  font-style: italic;
  font-weight: normal;
  font-family: Oswald;
}

.patreon_wrapper{
  display: flex;
	flex-direction: row;
  padding-top: 80px;
  padding-bottom: 80px;
}
.patreon_left{
  margin-right: auto;
	margin-left: auto;
	justify-content: center;
}
.patreon_img{
	max-width: 400px;
}
.patreon_right{
  margin-right: auto;
	width: 700px;
	justify-content: center;
}
.patreon_title{
  font-family: Roboto;
	font-style: normal;
	font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.botton_line_patreon{
  background: #000;
  height: 4px;
  border-radius: 4px;
  width: 50px;
  left: 0;
  position: relative;
}
.patreon_text{
  font-family: Roboto;
	font-size: 23px;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
}
.patreon_button{
  background-color: #404eed;
	width: 225px;
	height: 65px;
	cursor: pointer;
	color: white;
	padding: 20px 19px;
	font-style: normal;
	font-weight: Bold;
	font-size: 16px;
  transition: 0.5s;
  border: none;
	line-height: 26px;
	text-align: center;
  letter-spacing: 0.15em;
	transition: 0.5s;
  float:left;
  box-shadow: rgb(0 0 0 / 20%) 0 10px 32px 0;
}
.patreon_button:hover{
  border-radius: 50px;
  background-color: #0a2853;
}
.patreon_button_img{
  background: url(img/patreon_icn.png) center center/62px no-repeat;
  height: 30px;
  width: 56px;
  float: left;
}

footer{
  justify-content: flex-end;
  background-color: #05316D;
}
.footer_wrapper{
  justify-content: flex-end;
  display: flex;
}
.footer_right{
  max-width: 75%;
}
.footer_menu1{
  max-width: 50px;
  justify-content: flex-end;
  margin-top: 30px;
  cursor: pointer;
  left: 50px;
}
.footer_menu2{
  max-width: 50px;
  justify-content: flex-end;
  margin-top: 30px;
  cursor: pointer;
}
.footer_menu3{
  max-width: 50px;
  justify-content: flex-end;
  margin-top: 30px;
  cursor: pointer;
}
.footer_menu4{
  max-width: 50px;
  justify-content: flex-end;
  margin-top: 30px;
  cursor: pointer;
}
.footer_menu5{
  max-width: 50px;
  justify-content: flex-end;
  margin-top: 30px;
  cursor: pointer;
}
.footer_menu6{
  max-width: 50px;
  justify-content: flex-end;
  margin-top: 30px;
  cursor: pointer;
}
.footer_left{
  color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  justify-content: flex-start;
  margin-top: 60px;
  max-width: 220px;
  margin-right: 890px;
}


.description_wrapper{
  justify-content: center;
  margin-top: 80px;
}
.patreon-img-backdrop{
  background: url(img/Graphic_Tablet.jpg) center bottom/cover repeat;
  width: 100%;
  height: 49%;
  position: absolute;
  opacity: .1;
}
.description_title{
  font-family: Roboto;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.description_text{
  font-family: Roboto;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	line-height: 35px;
  font-size: 22px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
	justify-content: center;
}




.gallery{
	display: flex;
	flex-direction: column;
	transition: 2000ms;

}
.gallery_str{
	display: flex;
	width: 100%;
}
.gallery_img{
	width: 100%;
}

.lightzoom{
	width: 20%;
}
a{
	padding-left: 30px;
	padding-bottom: 40px;
	margin-left: 30px;
	cursor: pointer;
}


.cl-btn-7 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    margin: 20px auto;
    cursor: pointer;
		margin-left: 1750px;

}
.cl-btn-7:before {
    content: '+';
    color: #337AB7;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -9px;
    left: 7.5px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #337AB7;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.cl-btn-7:hover:after {
    transform: scale(1);
}
.cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}


.modal{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 3;
}
.modal_content{
	padding: 20px;
	margin: 7% auto;
	background-color: #EEEFF1;
	width: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 2s;
}
